<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                       http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
 <display-name>Sistema para Acueductos Urbanos</display-name>
 <description>Sistema para Acueductos Urbanos</description>
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context.xml</param-value>
 </context-param>
 <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
 </listener>
 <servlet>
   <servlet-name>Index</servlet-name>
   <servlet-class>display.Index</servlet-class>
 </servlet>
 
 <servlet>
   <servlet-name>ListaAcueductos</servlet-name>
   <servlet-class>display.ListaAcueductos</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleAcueducto</servlet-name>
   <servlet-class>display.DetalleAcueducto</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarAcueducto</servlet-name>
   <servlet-class>display.ActualizarAcueducto</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarAcueducto</servlet-name>
   <servlet-class>display.EliminarAcueducto</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarAcueducto</servlet-name>
   <servlet-class>display.InsertarAcueducto</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarAcueducto</servlet-name>
   <servlet-class>display.AgregarAcueducto</servlet-class>
 </servlet>
 
 
 <servlet>
   <servlet-name>ListaTuberias</servlet-name>
   <servlet-class>display.ListaTuberias</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleTuberia</servlet-name>
   <servlet-class>display.DetalleTuberia</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarTuberia</servlet-name>
   <servlet-class>display.ActualizarTuberia</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarTuberia</servlet-name>
   <servlet-class>display.EliminarTuberia</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarTuberia</servlet-name>
   <servlet-class>display.InsertarTuberia</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarTuberia</servlet-name>
   <servlet-class>display.AgregarTuberia</servlet-class>
 </servlet>
 
  <servlet>
   <servlet-name>ListaValvulas</servlet-name>
   <servlet-class>display.ListaValvulas</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleValvula</servlet-name>
   <servlet-class>display.DetalleValvula</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarValvula</servlet-name>
   <servlet-class>display.ActualizarValvula</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarValvula</servlet-name>
   <servlet-class>display.EliminarValvula</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarValvula</servlet-name>
   <servlet-class>display.InsertarValvula</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarValvula</servlet-name>
   <servlet-class>display.AgregarValvula</servlet-class>
 </servlet>
 
 <servlet>
   <servlet-name>ListaMedidores</servlet-name>
   <servlet-class>display.ListaMedidores</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleMedidor</servlet-name>
   <servlet-class>display.DetalleMedidor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarMedidor</servlet-name>
   <servlet-class>display.ActualizarMedidor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarMedidor</servlet-name>
   <servlet-class>display.EliminarMedidor</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarMedidor</servlet-name>
   <servlet-class>display.InsertarMedidor</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarMedidor</servlet-name>
   <servlet-class>display.AgregarMedidor</servlet-class>
 </servlet>
 
  <servlet>
   <servlet-name>ListaEstacionBombeos</servlet-name>
   <servlet-class>display.ListaEstacionBombeos</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleEstacionBombeo</servlet-name>
   <servlet-class>display.DetalleEstacionBombeo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarEstacionBombeo</servlet-name>
   <servlet-class>display.ActualizarEstacionBombeo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarEstacionBombeo</servlet-name>
   <servlet-class>display.EliminarEstacionBombeo</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarEstacionBombeo</servlet-name>
   <servlet-class>display.InsertarEstacionBombeo</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarEstacionBombeo</servlet-name>
   <servlet-class>display.AgregarEstacionBombeo</servlet-class>
 </servlet>
 
  <servlet>
   <servlet-name>ListaBombas</servlet-name>
   <servlet-class>display.ListaBombas</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleBomba</servlet-name>
   <servlet-class>display.DetalleBomba</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarBomba</servlet-name>
   <servlet-class>display.ActualizarBomba</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarBomba</servlet-name>
   <servlet-class>display.EliminarBomba</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarBomba</servlet-name>
   <servlet-class>display.InsertarBomba</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarBomba</servlet-name>
   <servlet-class>display.AgregarBomba</servlet-class>
 </servlet>

  <servlet>
   <servlet-name>ListaPozos</servlet-name>
   <servlet-class>display.ListaPozos</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetallePozo</servlet-name>
   <servlet-class>display.DetallePozo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarPozo</servlet-name>
   <servlet-class>display.ActualizarPozo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarPozo</servlet-name>
   <servlet-class>display.EliminarPozo</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarPozo</servlet-name>
   <servlet-class>display.InsertarPozo</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarPozo</servlet-name>
   <servlet-class>display.AgregarPozo</servlet-class>
 </servlet> 
 
   <servlet>
   <servlet-name>ListaTanques</servlet-name>
   <servlet-class>display.ListaTanques</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleTanque</servlet-name>
   <servlet-class>display.DetalleTanque</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarTanque</servlet-name>
   <servlet-class>display.ActualizarTanque</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarTanque</servlet-name>
   <servlet-class>display.EliminarTanque</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>InsertarTanque</servlet-name>
   <servlet-class>display.InsertarTanque</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>AgregarTanque</servlet-name>
   <servlet-class>display.AgregarTanque</servlet-class>
 </servlet> 
 
 <servlet-mapping>
   <servlet-name>Index</servlet-name>
   <url-pattern>/acueductourbano/index</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ListaAcueductos</servlet-name>
   <url-pattern>/acueductourbano/listaAcueductos</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleAcueducto</servlet-name>
   <url-pattern>/acueductourbano/detalleAcueducto</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarAcueducto</servlet-name>
   <url-pattern>/acueductourbano/actualizarAcueducto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarAcueducto</servlet-name>
   <url-pattern>/acueductourbano/eliminarAcueducto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarAcueducto</servlet-name>
   <url-pattern>/acueductourbano/insertarAcueducto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarAcueducto</servlet-name>
   <url-pattern>/acueductourbano/agregarAcueducto</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
   <servlet-name>ListaTuberias</servlet-name>
   <url-pattern>/acueductourbano/listaTuberias</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleTuberia</servlet-name>
   <url-pattern>/acueductourbano/detalleTuberia</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarTuberia</servlet-name>
   <url-pattern>/acueductourbano/actualizarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarTuberia</servlet-name>
   <url-pattern>/acueductourbano/eliminarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarTuberia</servlet-name>
   <url-pattern>/acueductourbano/insertarTuberia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarTuberia</servlet-name>
   <url-pattern>/acueductourbano/agregarTuberia</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
   <servlet-name>ListaValvulas</servlet-name>
   <url-pattern>/acueductourbano/listaValvulas</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleValvula</servlet-name>
   <url-pattern>/acueductourbano/detalleValvula</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarValvula</servlet-name>
   <url-pattern>/acueductourbano/actualizarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarValvula</servlet-name>
   <url-pattern>/acueductourbano/eliminarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarValvula</servlet-name>
   <url-pattern>/acueductourbano/insertarValvula</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarValvula</servlet-name>
   <url-pattern>/acueductourbano/agregarValvula</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
   <servlet-name>ListaMedidores</servlet-name>
   <url-pattern>/acueductourbano/listaMedidores</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleMedidor</servlet-name>
   <url-pattern>/acueductourbano/detalleMedidor</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarMedidor</servlet-name>
   <url-pattern>/acueductourbano/actualizarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarMedidor</servlet-name>
   <url-pattern>/acueductourbano/eliminarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarMedidor</servlet-name>
   <url-pattern>/acueductourbano/insertarMedidor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarMedidor</servlet-name>
   <url-pattern>/acueductourbano/agregarMedidor</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
   <servlet-name>ListaEstacionBombeos</servlet-name>
   <url-pattern>/acueductourbano/listaEstacionBombeos</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleEstacionBombeo</servlet-name>
   <url-pattern>/acueductourbano/detalleEstacionBombeo</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarEstacionBombeo</servlet-name>
   <url-pattern>/acueductourbano/actualizarEstacionBombeo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarEstacionBombeo</servlet-name>
   <url-pattern>/acueductourbano/eliminarEstacionBombeo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarEstacionBombeo</servlet-name>
   <url-pattern>/acueductourbano/insertarEstacionBombeo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarEstacionBombeo</servlet-name>
   <url-pattern>/acueductourbano/agregarEstacionBombeo</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
   <servlet-name>ListaBombas</servlet-name>
   <url-pattern>/acueductourbano/listaBombas</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleBomba</servlet-name>
   <url-pattern>/acueductourbano/detalleBomba</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarBomba</servlet-name>
   <url-pattern>/acueductourbano/actualizarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarBomba</servlet-name>
   <url-pattern>/acueductourbano/eliminarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarBomba</servlet-name>
   <url-pattern>/acueductourbano/insertarBomba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarBomba</servlet-name>
   <url-pattern>/acueductourbano/agregarBomba</url-pattern>
 </servlet-mapping>
 
 
  <servlet-mapping>
   <servlet-name>ListaPozos</servlet-name>
   <url-pattern>/acueductourbano/listaPozos</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetallePozo</servlet-name>
   <url-pattern>/acueductourbano/detallePozo</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarPozo</servlet-name>
   <url-pattern>/acueductourbano/actualizarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarPozo</servlet-name>
   <url-pattern>/acueductourbano/eliminarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarPozo</servlet-name>
   <url-pattern>/acueductourbano/insertarPozo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarPozo</servlet-name>
   <url-pattern>/acueductourbano/agregarPozo</url-pattern>
 </servlet-mapping>
 
 
  <servlet-mapping>
   <servlet-name>ListaTanques</servlet-name>
   <url-pattern>/acueductourbano/listaTanques</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleTanque</servlet-name>
   <url-pattern>/acueductourbano/detalleTanque</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ActualizarTanque</servlet-name>
   <url-pattern>/acueductourbano/actualizarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarTanque</servlet-name>
   <url-pattern>/acueductourbano/eliminarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>InsertarTanque</servlet-name>
   <url-pattern>/acueductourbano/insertarTanque</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarTanque</servlet-name>
   <url-pattern>/acueductourbano/agregarTanque</url-pattern>
 </servlet-mapping>
 </web-app>